{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center justify-center">
        <div class="bg-gray-300 rounded-lg p-12 border rounded-3xl">
            <h2 class="text-gray-900 text-lg font-medium title-font mb-5 text-center">プロフィール</h2>
            <form method="post">
                {% csrf_token %}
                <div class="relative">
                    <label for="full-name" class="leading-7 text-sm text-gray-600">名前</label>
                    <div class="flex w-full sm:flex-row flex-col">
                        {% render_field form.first_name class="form-control w-full bg-white rounded border rounded-full border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 mr-4 leading-8 transition-colors duration-200 ease-in-out" placeholder="姓" %}

                        {% render_field form.last_name class="form-control w-full bg-white rounded border rounded-full border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="名" %}
                    </div>
                </div>
                <div class="relative mb-12">
                    <label for="email" class="leading-7 text-sm text-gray-600">所属</label>
                    {% render_field form.department class="form-control w-full bg-white rounded border rounded-full border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="所属" %}
                </div>
                <div class="relative text-center">
                    <button
                        class="bg-yellow-500 border-0 px-4 focus:outline-none hover:bg-yellow-600 rounded text-lg justify-center"type="submit">登録する
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- <div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">プロフィール</h5>
        <form method="post">
            {% csrf_token %}
            <table class="profile_table mb-4">
                <tbody>
                    <tr>
                        <th class="header">名前</th>
                        <td class="data form_wrap form_wrap-2">
                            {% render_field form.first_name class="form-control" placeholder="姓" %}
                            {% render_field form.last_name class="form-control" placeholder="名" %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">所属</th>
                        <td class="data">
                            {% render_field form.department class="form-control" placeholder="所属" %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button mx-auto">
                <button class="btn btn-lg btn-warning btn-block" type="submit">登録する</button>
            </div>
        </form>
    </div>
</div> -->

{% endblock %}