{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center justify-center">
        <div class="bg-gray-300 rounded-lg p-12 border rounded-3xl">
            <h2 class="text-gray-900 text-lg font-medium title-font mb-5 text-center">サインアップ</h2>
            <form method="post">
                {% csrf_token %}
                <div class="relative">
                    <label for="full-name" class="leading-7 text-sm text-gray-600">FullName</label>
                    <div class="flex w-full sm:flex-row flex-col">
                        {% render_field form.first_name class="form-control w-full bg-white rounded border rounded-full border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 mr-4 leading-8 transition-colors duration-200 ease-in-out" placeholder="姓" %}
                        {% render_field form.last_name class="form-control w-full bg-white rounded border rounded-full border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="名" %}
                    </div>
                </div>
                <div class="relative">
                    <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                    {% render_field form.email class="form-control w-full bg-white rounded border rounded-full border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="メールアドレス" %}
                </div>
                <div class="relative">
                    <label for="email" class="leading-7 text-sm text-gray-600">Password</label>
                    {% render_field form.password1 class="form-control w-full bg-white rounded border rounded-full border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="パスワード" %}
                </div>
                <div class="relative mb-10">
                    <label for="email" class="leading-7 text-sm text-gray-600">Password(again)</label>
                    {% render_field form.password2 class="form-control w-full bg-white rounded border rounded-full border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="パスワード(確認)" %}
                </div>
                <div class="relative text-center">
                    <button
                        class="text-white bg-blue-500 border-0 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg justify-center"type="submit">サインアップ
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- 
<div class="card card-auth my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">サインアップ</h5>
        <form method="post" class="form-auth">
            {% csrf_token %}
            <div class="form-label-group form_wrap form_wrap-2">
                {% render_field form.first_name class="form-control" placeholder="姓" %}
                {% render_field form.last_name class="form-control" placeholder="名" %}
            </div>
            <div class="form-label-group">
                {% render_field form.email class="form-control" placeholder="メールアドレス" %}
            </div>
            <div class="form-label-group">
                {% render_field form.password1 class="form-control" placeholder="パスワード" %}
            </div>
            <div class="form-label-group">
                {% render_field form.password2 class="form-control" placeholder="パスワード(確認)" %}
            </div>
            <div class="button mx-auto">
                <button class="btn btn-lg btn-primary btn-block mx-auto" type="submit">サインアップ</button>
            </div>
        </form>
    </div>
</div> -->

{% endblock %}