* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

/* 検索画面 */
.catch_copy{
  transform: rotate(-10deg);
}

main {
  flex: 1;
}

.card-profile {
  width: 700px;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.button {
  width: 150px;
}

.btn {
  font-size: 80%;
  border-radius: 5rem;
  font-weight: bold;
}

/* .profile_table {
  width: 100%;
  border: 1px solid #d1dbeb;
  border-radius: 8px;
  border-collapse: separate;
  overflow: hidden;
} */

.profile_table .header {
  width: 200px;
  padding: 16px 24px;
  text-align: left;
  background: #f1f5fa;
}

.profile_table .data {
  padding: 16px 60px;
}

.form_wrap {
  display: grid;
  gap: 16px;
}

.form_wrap-2 {
  grid-template-columns: repeat(2, 1fr);
}

.form-control:focus {
  box-shadow: none;
}

.form-auth {
  width: 100%;
}

.form-label-group {
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

.travellist {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  max-height: 300px;
}
/* 検索後の画面 */
container{
  background-color: #f3e4d3;
}

/* detail */

.star-rating {
  position: relative;
  font-size: 20px;
  word-wrap: normal !important;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-rating-back {
  color: #ccc;
}

.average {
  font-size: 20px;
  font-weight: bold;
}

/* ホーム画面ランキング表示 */
.scroll-nav {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scroll-nav::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* トラック部分 */
.scroll-nav::-webkit-scrollbar-track {
}

/* バー部分 */
.scroll-nav::-webkit-scrollbar-thumb {
  background: #2e7d32;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  display: flex;
  width: auto;
  padding: 8px;
  margin: 1px;
  background: #fff;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

.swiper-container .swiper-slide {
  position: relative;
}
.swiper-container .swiper-slide .swiper-slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 3s ease 0s;
}

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

/* 以下ボタンスタイル */
button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}

#openModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* インスタグラム遷移ボタン */
.insta_btn .insta{/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  width: 50px;/*幅*/
  height: 50px;/*高さ*/
  background: -webkit-linear-gradient(160deg, #427eff 0%, #f13f79 50%) no-repeat;
  background: linear-gradient(155deg, #427eff 0%, #f13f79 30%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 13px;/*角丸に*/
}
.insta_btn .insta:before{/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 32px;/*ずらす*/
  left: -15px;/*ずらす*/
  width: 70px;/*グラデーションカバーの幅*/
  height: 60px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}
.insta_btn .fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 40px;/*アイコンサイズ*/
  line-height: 50px;/*高さと合わせる*/
  left: 7px;
}