{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}
<section class="text-gray-600 body-font relative bg-green-50">
    <div class="container px-2 pt-12 pb-0 mx-auto flex flex-wrap">
        <div class="catch_copy w-5/12 text-4xl text-center self-center">
            <h1 class="font-serif">次はどこへ行こうか</h1>
        </div>
        <div
            class="lg:w-6/12 md:w-7/12 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 mb-20 relative z-10 shadow-lg">
            <h2 class="text-gray-900 text-3xl my-5 font-medium title-font">Serch Form</h2>
            <p class="leading-relaxed mb-2 text-gray-600">※入力必須項目</p>
            <div class="relative mb-0">
                <form method="GET" action="{% url 'search' %}">
                    <label for="datetime" class="leading-7 text-lg text-gray-900 font-medium ">空室検索</label>
                    <div class="flex mb-4 mt-2">
                        <div class="flex self-center justify-start mr-4">
                            <p class="mr-2">Check In :</p>
                            <p class="border rounded" id="checkin_date">{{ form.checkin_date }}</p>
                        </div>
                        <div class="flex self-center justify-start">
                            <!-- できればチェックインの次の日に自動入力となる様にしたい -->
                            <p class="mr-2">Check Out :</p>
                            <p class="border rounded">{{ form.checkout_date }}</p>
                        </div>
                        <!-- <div class="flex self-center justify-start">
                            <p class="mx-2">日数 :</p>
                            <p class="border rounded">{{ form.stay_days }}</p>
                        </div> -->
                    </div>
                    <div class="flex self-center justify-start mr-4 mb-4">
                        <p class="mr-2">都道府県 :</p>
                        <p class="border rounded">{{ form.middle_class_name }}</p>
                    </div>
                    <div class="flex self-center justify-start mr-4 mb-8">
                        <p class="mr-2">市区郡　 :</p>
                        <p class="border rounded">{{ form.small_class_name }}</p>
                    </div>
                    <p class="leading-relaxed my-5 text-gray-600">※入力任意項目</p>
                    <div class="flex mb-6">
                        <div class="flex self-center justify-center mr-4">
                            <p class="mr-2">人数(大人) :</p>
                            <p class="border rounded">{{ form.adult_num }}</p>
                        </div>
                        <div class="flex self-center justify-center mr-4">
                            <p class="mr-2">部屋数 :</p>
                            <p class="border rounded">{{ form.room_num }}</p>
                        </div>
                    </div>
                    <div class="flex mb-6">
                        <div class="flex self-center justify-center">
                            <p class="mr-1">下限金額 :</p>
                            <p class="border rounded">{{ form.min_charge }}</p>
                            <p class="mx-1">円</p>
                        </div>
                        <p class="mx-2">〜</p>
                        <div class="flex self-center justify-center mr-2">
                            <p class="mr-1">上限金額 :</p>
                            <p class="border rounded">{{ form.max_charge }}</p>
                            <p class="mx-1">円</p>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button
                        class="flex center text-white bg-green-500 border-0 py-2 px-6 ml-2 focus:outline-none hover:bg-green-600 rounded text-lg"
                            type="submit">Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <!-- モーダルエリアここから -->
    <div id="modalArea" class="modalArea bg-white">
        <div id="modalBg" class="modalBg"></div>
        <div class="modalWrapper">
            <div class="modalContents">
                <h1>検索結果がありません。</h1>
                <p>誠に申し訳ございませんが、この検索条件に該当する空室が見つかりません。
                    条件を変えて再検索してください。 </p>
            </div>
            <div id="closeModal" class="closeModal">
                ×
            </div>
        </div>
    </div>
    <!-- モーダルエリアここまで -->

    <!-- ↓body閉じタグ直前でjQueryを読み込む -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div class="swiper-container bg-white bg-opacity-0">
        <p class="w-1/3 bg-green-600 text-green-100 text-xl">{{ ranking_info }}</p>
        <div class="swiper-wrapper">
            {% for ranking in ranking_data %}
            <div class="swiper-slide ">
                <a href="{% url 'detail' ranking.hotelNo %}">
                    <img src="{{ ranking.hotelImageUrl }}" alt="Swiper" class="relative h-60 w-full object-cover">
                    <p class="absolute bottom-0 bg-gray-400 bg-opacity-70 text-white">{{ ranking.hotelName }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

</section>

{% endblock %}
{% block extrajs %}
<script>
    const swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        slidesPerView: 3.5, //何枚ずつ表示させるか
        spaceBetween: 10,  //写真間のスペース
        calculateHeight: true,
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true,
        },

    });

// カテゴリーを絞る
    // parentCategoryElement・categoryElementは変数のためなんでもOK
    const parentCategoryElement = $('#id_middle_class_name');
    const categoryElement = $('#id_small_class_name');
    const categories = JSON.parse('{{category_data|safe}}')

    const changeCategory = (select) => {
        // 子カテゴリの選択欄を空にする。
        categoryElement.children().remove();

        // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
        // val()でvalue値を取得する。
        const parentId = parentCategoryElement.val();
        const categoryList = categories[parentId];

        // 子カテゴリの選択肢を作成・追加。
        for (const category of categoryList) {
            const option = $('<option>');
            option.val(category['pk']);
            option.text(category['name']);
            categoryElement.append(option);
        }

        // 指定があれば、そのカテゴリを選択する
        if (select !== undefined) {
            categoryElement.val(select);
        }
    };

    $('#id_middle_class_name').on('change', () => {
        changeCategory();
    });
// ここまで(カテゴリーを絞る)
</script>
{% endblock %}