{% extends 'app/base.html' %}

{% block content %}

<form action="{% url 'like' %}" method="POST">
    {% csrf_token %}
    {% if favorite.id in liked_list %}
        <button id="like" name="{{favorite.id}}" class=" bg-blue-600"><i class="fas fa-lg fa-heart like-red"></i></button>
    {% else %}
        <button id="like" name="{{favorite.id}}" class=" bg-blue-600"><i class="far fa-lg fa-heart bg-blue-600"></i></button>      
    {% endif %}
</form>
<p name="{{favorite.id}}-count" class="count"> {{ favorite.like_set.count }} </p>

{% endblock %}