{% extends 'app/base.html' %}
{% load static %}
{% load utils %}

{% block content %}


<section class="text-gray-600 body-font">
    {% if travel_data %}
        <p class="my-4">検索結果 {{ total_hit_count }}件 <small>{{ page_obj.start_index }}～{{ page_obj.end_index }}件を表示</small></p>
        {% for travel in travel_data %}
            <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
                <div class="lg:max-w-md lg:w-3/12 md:w-1/5 w-5/6 mb-10 md:mb-0">
                    <img class="object-cover object-center rounded" alt="旅行施設の写真" src="{{ travel.image }}">
                    <!-- 画像をクリックすると詳細ページに進める様にするコードを下に書く予定 -->
    
                </div>
                <!-- 宿泊施設の基本情報を記載する -->
                <div class="lg:flex-grow md:w-4/12 lg:pl-12 md:pl-8 flex flex-col md:items-start md:text-left items-center text-center">
                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{ travel.hotelname }}</h1>
                    <p class="mb-8 leading-relaxed">住所：{{ travel.address }}{{ travel.address2 }}</p>
                        <p class="mb-8 leading-relaxed">{{ travel.hotel_detail|linebreaksbr }}</p>
                            <h5 class="mb-8 leading-relaxed">料金：{{ travel.minprice }}円〜</h5>
                    <div class="flex justify-center">
                        <a class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" href="/">お気に入り</a>
                        <a class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg" href="https://www.instagram.com/explore/tags/{{ travel.hotelname }}" target="_blank">インスタへ</a>
                    </div>
                </div>
                <div class="flex px-8 py-24">
                    <a class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" href="{{ travel.dpPlanListUrl }}">お得なプランはこちら</a>
                </div>
            </div>
        {% endfor %}
        
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{%  url_replace request 'page' page_obj.previous_page_number %}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="#!">
                            {{ num }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?{%  url_replace request 'page' num %}">
                            {{ num }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{%  url_replace request 'page' page_obj.next_page_number %}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% else %}
    <h4 class="mt-5">該当するものはありません。</h4>
    {% endif %}
</section>


{% endblock %}
<!-- 
    <div class=" px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
        <div class="flex-1 flex justify-between sm:hidden">
            <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 hover:text-gray-500">
            Previous
            </a>
            <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 hover:text-gray-500">
            Next
            </a>
        </div>
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
                <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                    <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Previous</span>
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                    </a>
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{%  url_replace request 'page' page_obj.previous_page_number %}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="#!" class="page-link relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium text-gray-700 hover:bg-gray-50">
                            {{ num }}
                            </a>
                        {% else %}
                            <a href="?{%  url_replace request 'page' num %}" class="page-link relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium text-gray-700 hover:bg-gray-50">
                                {{ num }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    <a href="#" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
                        <span class="sr-only">Next</span>
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </nav>
            </div>
        </div>
    </div> -->

<!-- <div class="row travellist">
    {% for travel in travel_data %}
    <div class="col-12 text-center font-weight-bold my-5">
        <h3>{{ travel.hotelname }}</h3>
    </div>
    <div class="col-md-4 text-center travel-img">
        <img src="{{ travel.image }}" alt="旅行施設の写真" class="img-responsive img-rounded">
        <a href="{% url 'detail' travel.hotelno %}" class="stretched-link"></a>
    </div>
    <div class="col-md-5 text-center discription">
        <p>住所：{{ travel.address }}{{ travel.address2 }}</p>
        <p>{{ travel.hotel_detail|linebreaksbr }}</p>
        <h5>料金：{{ travel.minprice }}円〜</h5>
        <a class="link-color" href="{{ travel.plan }}" target="_blank">
            <div class="mt-3">
                <i class="mr-2">詳細サイトはこちらから</i>
            </div>
        </a>
        <a href="{% url 'favorite'%}" class="btn btn-primary my-5">お気に入り</a>
        <a href="https://www.instagram.com/explore/tags/{{ travel.hotelname }}" target="_blank">インスタへ</a>
    </div>
    
    <canvas class="col-md-3" id="myRaderChart{{travel.hotelno}}" height="70"></canvas>
    <script>
        const ctx{{travel.hotelno}} = document.getElementById("myRaderChart{{ travel.hotelno }}");
        const myRadarChart{{travel.hotelno}} = new Chart(ctx{{travel.hotelno}}, {
            type: 'radar',
            data: {
                labels: ["サービス", "部屋", "設備", "食事", "立地"],
                datasets: [{
                    display: false,
                    data: [{{travel.rating_service}}, {{travel.rating_room}}, {{travel.rating_equipment}}, {{travel.rating_meal}}, {{travel.rating_location}}],
                    backgroundColor: "rgb(130,220,170,0.9)",
                    borderColor: "rgb(255,100,0)",
                    borderWidth: 2,
                    pointRadius: 3,
                    pointBackgroundColor: 'RGB(255,50,0)'
                }]
            },
            options: {
                scale: {
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 5,
                        stepSize: 1,
                        callback: function (value, index, values) {
                            return ""
                        }
                    },
                    pointLabels: {       // 軸のラベル（"Python"など）
                    fontSize: 18,         // 文字の大きさ
                    fontColor: "black",    // 文字の色
                        },
                        angleLines: {        // 軸（放射軸）
                            display: true,
                            color: "black"
                        },
                        gridLines: {         // 補助線（目盛の線）
                            color: "black"
                        }
                    },
                    legend: {
                        display: false,
                        position: 'top',  //タイトルの設定
                        labels: {
                            fontSize: 20,
                            fontColor: "black",
                            padding: 10
                        }
                    },
                    title: {
                        display: true,
                        text: "レビュー ：★{{ travel.review }}",
                        fontSize: 23,
                        fontColor: '#000',
                    },
                }
            });
        </script>
    {% empty %}
    <p>該当するものはありません</p>
    {% endfor %}
</div> -->
